*{
    padding: 0;
    margin: 0;
}
.clear::before{
    clear: both;
    content: "";
    display: block;
}
#box{
    width: 320px;
    height: 568px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -160px;
    margin-top: -284px;
    background: url("../images/start.png");
}
#start{
    width: 80px;
    height: 40px;
    background-color: rgb(160, 160, 160);
    user-select: none;
    outline: none;
    border: none;
    color: #fff;
    box-shadow: 2px 2px 2px black;
    position: absolute;
    left: 50%;
    top: 60%;
    margin-left: -40px;
    margin-top: -20px;
}
#start:active{
    box-shadow: 0 0 2px black;
}