/* 清除默认内外边距 */
/* 默认字体和字体大小 */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clear::after {
    display: table;
    content: '';
    clear: both;
}

input {
    outline: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
}